/*!
 * Dashmix - v1.4.0
 * @author pixelcave - https://pixelcave.com
 * Copyright (c) 2018
 */
body {
  color: #495057;
  background-color: #f7f5fa;
}

a {
  color: #f60;
}

a.link-fx::before {
  background-color: #f60;
}

a:hover {
  color: #d78924;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #212529;
}

.content-heading {
  border-bottom-color: #ece7f3;
}

hr {
  border-top-color: #ece7f3;
}

.text-primary {
  color: #f60 !important;
}

a.text-primary.link-fx::before {
  background-color: #f60;
}

a.text-primary:hover, a.text-primary:focus {
  color: #d78924 !important;
}

.text-primary-dark {
  color: #CC3300 !important;
}

a.text-primary-dark.link-fx::before {
  background-color: #CC3300;
}

a.text-primary-dark:hover, a.text-primary-dark:focus {
  color: #2b1a3b !important;
}

.text-primary-darker {
  color: #d78924 !important;
}

a.text-primary-darker.link-fx::before {
  background-color: #d78924;
}

a.text-primary-darker:hover, a.text-primary-darker:focus {
  color: #110b17 !important;
}

.text-primary-light {
  color: #cc6942 !important;
}

a.text-primary-light.link-fx::before {
  background-color: #cc6942;
}

a.text-primary-light:hover, a.text-primary-light:focus {
  color: #6a4292 !important;
}

.text-primary-lighter {
  color: #c9b4dd !important;
}

a.text-primary-lighter.link-fx::before {
  background-color: #c9b4dd;
}

a.text-primary-lighter:hover, a.text-primary-lighter:focus {
  color: #966ebd !important;
}

.text-body-bg {
  color: #f7f5fa !important;
}

a.text-body-bg.link-fx::before {
  background-color: #f7f5fa;
}

a.text-body-bg:hover, a.text-body-bg:focus {
  color: #c1b1d8 !important;
}

.text-body-bg-light {
  color: #fcfcfd !important;
}

a.text-body-bg-light.link-fx::before {
  background-color: #fcfcfd;
}

a.text-body-bg-light:hover, a.text-body-bg-light:focus {
  color: #c6b8db !important;
}

.text-body-bg-dark {
  color: #ece7f3 !important;
}

a.text-body-bg-dark.link-fx::before {
  background-color: #ece7f3;
}

a.text-body-bg-dark:hover, a.text-body-bg-dark:focus {
  color: #b6a3d1 !important;
}

.text-body-color {
  color: #495057 !important;
}

a.text-body-color.link-fx::before {
  background-color: #495057;
}

a.text-body-color:hover, a.text-body-color:focus {
  color: #1a1d20 !important;
}

.text-body-color-dark {
  color: #212529 !important;
}

a.text-body-color-dark.link-fx::before {
  background-color: #212529;
}

a.text-body-color-dark:hover, a.text-body-color-dark:focus {
  color: black !important;
}

.text-body-color-light {
  color: #ece7f3 !important;
}

a.text-body-color-light.link-fx::before {
  background-color: #ece7f3;
}

a.text-body-color-light:hover, a.text-body-color-light:focus {
  color: #b6a3d1 !important;
}

.text-dual {
  color: #CC3300 !important;
}

a.text-dual.link-fx::before {
  background-color: #CC3300;
}

a.text-dual:hover, a.text-dual:focus {
  color: #2b1a3b !important;
}

.page-header-dark #page-header .text-dual,
.sidebar-dark #sidebar .text-dual {
  color: #ece7f3 !important;
}

.page-header-dark #page-header a.text-dual.link-fx::before,
.sidebar-dark #sidebar a.text-dual.link-fx::before {
  background-color: #ece7f3;
}

.page-header-dark #page-header a.text-dual:hover, .page-header-dark #page-header a.text-dual:focus,
.sidebar-dark #sidebar a.text-dual:hover,
.sidebar-dark #sidebar a.text-dual:focus {
  color: #b6a3d1 !important;
}

.bg-primary {
  background-color: #f60 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #CC3300 !important;
}

.bg-primary-op {
  background-color: rgba(245, 154, 80, 0.75) !important;
}

a.bg-primary-op:hover, a.bg-primary-op:focus,
button.bg-primary-op:hover,
button.bg-primary-op:focus {
  background-color: rgba(94, 58, 129, 0.75) !important;
}

.bg-primary-dark {
  background-color: #CC3300 !important;
}

a.bg-primary-dark:hover, a.bg-primary-dark:focus,
button.bg-primary-dark:hover,
button.bg-primary-dark:focus {
  background-color: #d78924 !important;
}

.bg-primary-dark-op {
  background-color: rgba(94, 58, 129, 0.8) !important;
}

a.bg-primary-dark-op:hover, a.bg-primary-dark-op:focus,
button.bg-primary-dark-op:hover,
button.bg-primary-dark-op:focus {
  background-color: rgba(68, 42, 94, 0.8) !important;
}

.bg-primary-darker {
  background-color: #d78924 !important;
}

a.bg-primary-darker:hover, a.bg-primary-darker:focus,
button.bg-primary-darker:hover,
button.bg-primary-darker:focus {
  background-color: #2b1a3b !important;
}

.bg-primary-light {
  background-color: #cc6942 !important;
}

a.bg-primary-light:hover, a.bg-primary-light:focus,
button.bg-primary-light:hover,
button.bg-primary-light:focus {
  background-color: #8455b2 !important;
}

.bg-primary-lighter {
  background-color: #c9b4dd !important;
}

a.bg-primary-lighter:hover, a.bg-primary-lighter:focus,
button.bg-primary-lighter:hover,
button.bg-primary-lighter:focus {
  background-color: #af91cd !important;
}

.bg-body {
  background-color: #f7f5fa !important;
}

a.bg-body:hover, a.bg-body:focus,
button.bg-body:hover,
button.bg-body:focus {
  background-color: #dcd3e9 !important;
}

.bg-body-light {
  background-color: #fcfcfd !important;
}

a.bg-body-light:hover, a.bg-body-light:focus,
button.bg-body-light:hover,
button.bg-body-light:focus {
  background-color: #e1daec !important;
}

.bg-body-dark {
  background-color: #ece7f3 !important;
}

a.bg-body-dark:hover, a.bg-body-dark:focus,
button.bg-body-dark:hover,
button.bg-body-dark:focus {
  background-color: #d1c5e2 !important;
}

.bg-header-light {
  background-color: #fff !important;
}

a.bg-header-light:hover, a.bg-header-light:focus,
button.bg-header-light:hover,
button.bg-header-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-header-dark {
  background-color: #f60 !important;
}

a.bg-header-dark:hover, a.bg-header-dark:focus,
button.bg-header-dark:hover,
button.bg-header-dark:focus {
  background-color: #CC3300 !important;
}

.bg-sidebar-light {
  background-color: #fff !important;
}

a.bg-sidebar-light:hover, a.bg-sidebar-light:focus,
button.bg-sidebar-light:hover,
button.bg-sidebar-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-sidebar-dark {
  background-color: #39353e !important;
}

a.bg-sidebar-dark:hover, a.bg-sidebar-dark:focus,
button.bg-sidebar-dark:hover,
button.bg-sidebar-dark:focus {
  background-color: #201d23 !important;
}

.bg-gd-primary {
  background: #f60 linear-gradient(135deg, #f60 0%, #cc6942 100%) !important;
}

.btn-link {
  color: #f60;
}

.btn-link:hover {
  color: #d78924;
}

.btn-primary {
  color: #fff;
  background-color: #f60;
  border-color: #f60;
}

.btn-primary:hover {
  color: #fff;
  background-color: #FF4609;
  border-color: #CC3300;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f60;
  border-color: #f60;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #CC3300;
  border-color: #573678;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.5);
}

.btn-outline-primary {
  color: #f60;
  background-color: transparent;
  background-image: none;
  border-color: #f60;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f60;
  border-color: #f60;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #f60;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #f60;
  border-color: #f60;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.5);
}

.btn-hero-primary {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #f60;
  border: none;
  box-shadow: 0 0.125rem 0.75rem rgba(245, 154, 80, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.12s ease-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out, -webkit-transform 0.12s ease-out;
}

.btn-hero-primary:hover {
  color: #fff;
  background-color: #9167ba;
  box-shadow: 0 0.375rem 0.75rem rgba(245, 154, 80, 0.4);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-hero-primary:focus, .btn-hero-primary.focus {
  color: #fff;
  background-color: #9167ba;
  box-shadow: 0 0.125rem 0.75rem rgba(245, 154, 80, 0.25);
}

.btn-hero-primary.disabled, .btn-hero-primary:disabled {
  color: #fff;
  background-color: #f60;
  box-shadow: 0 0.125rem 0.75rem rgba(245, 154, 80, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-hero-primary:not(:disabled):not(.disabled):active, .btn-hero-primary:not(:disabled):not(.disabled).active,
.show > .btn-hero-primary.dropdown-toggle {
  color: #fff;
  background-color: #51326f;
  box-shadow: 0 0.125rem 0.75rem rgba(245, 154, 80, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-hero-primary:not(:disabled):not(.disabled):active:focus, .btn-hero-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-hero-primary.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(245, 154, 80, 0.25);
}

.btn-hero-lg {
  padding: 0.875rem 2.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-hero-sm {
  padding: 0.375rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-dual {
  color: #16181a;
  background-color: transparent;
  border-color: transparent;
}

.btn-dual:hover, .btn-dual:focus, .btn-dual.focus {
  color: #16181a;
  background-color: #dcd3e9;
  border-color: #dcd3e9;
  box-shadow: none;
}

.btn-dual.disabled, .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.btn-dual:active, .btn-dual.active {
  color: #16181a;
  background-color: transparent;
  border-color: transparent;
}

.btn-dual:not(:disabled):not(.disabled):active, .btn-dual:not(:disabled):not(.disabled).active,
.show > .btn-dual.dropdown-toggle {
  color: #16181a;
  background-color: #dcd3e9;
  border-color: #dcd3e9;
}

.page-header-dark #page-header .btn-dual,
.sidebar-dark #sidebar .btn-dual {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark #page-header .btn-dual:hover, .page-header-dark #page-header .btn-dual:focus, .page-header-dark #page-header .btn-dual.focus,
.sidebar-dark #sidebar .btn-dual:hover,
.sidebar-dark #sidebar .btn-dual:focus,
.sidebar-dark #sidebar .btn-dual.focus {
  color: #fff;
  background-color: #CC3300;
  border-color: #CC3300;
  box-shadow: none;
}

.page-header-dark #page-header .btn-dual.disabled, .page-header-dark #page-header .btn-dual:disabled,
.sidebar-dark #sidebar .btn-dual.disabled,
.sidebar-dark #sidebar .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark #page-header .btn-dual:active, .page-header-dark #page-header .btn-dual.active,
.sidebar-dark #sidebar .btn-dual:active,
.sidebar-dark #sidebar .btn-dual.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark #page-header .btn-dual:not(:disabled):not(.disabled):active, .page-header-dark #page-header .btn-dual:not(:disabled):not(.disabled).active,
.show > .page-header-dark #page-header .btn-dual.dropdown-toggle,
.sidebar-dark #sidebar .btn-dual:not(:disabled):not(.disabled):active,
.sidebar-dark #sidebar .btn-dual:not(:disabled):not(.disabled).active,
.show >
.sidebar-dark #sidebar .btn-dual.dropdown-toggle {
  color: #fff;
  background-color: #CC3300;
  border-color: #CC3300;
}

.alert-primary {
  color: #CC3300;
  background-color: #c9b4dd;
  border-color: #c9b4dd;
}

.alert-primary hr {
  border-top-color: #bca2d5;
}

.alert-primary .alert-link {
  color: #d78924;
}

.badge-primary {
  color: #fff;
  background-color: #f60;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #CC3300;
}

.progress-bar {
  background-color: #f60;
}

.nav-link {
  color: #495057;
}

.nav-link:hover, .nav-link:focus {
  color: #f60;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #f7f5fa;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f60;
}

.nav-tabs {
  border-bottom-color: #ece7f3;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #ece7f3 #ece7f3 #ece7f3;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #ece7f3 #ece7f3 #fff;
}

.nav-tabs-block {
  background-color: #fcfcfd;
}

.nav-tabs-block .nav-link {
  border-color: transparent;
}

.nav-tabs-block .nav-link:hover, .nav-tabs-block .nav-link:focus {
  color: #f60;
  background-color: #f7f5fa;
  border-color: transparent;
}

.nav-tabs-block .nav-link.active,
.nav-tabs-block .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
}

.nav-tabs-alt {
  border-bottom-color: #ece7f3;
}

.nav-tabs-alt .nav-link {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs-alt .nav-link:hover, .nav-tabs-alt .nav-link:focus {
  color: #f60;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #f60;
}

.nav-tabs-alt .nav-link.active,
.nav-tabs-alt .nav-item.show .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #f60;
}

.nav-items a {
  border-bottom-color: #f7f5fa;
}

.nav-items a:hover {
  background-color: #fcfcfd;
}

.nav-items a:active {
  background-color: #f7f5fa;
}

.nav-items > li:last-child > a {
  border-bottom: none;
}

.page-item.active .page-link {
  background-color: #f60;
  border-color: #f60;
}

.page-link {
  color: #495057;
  background-color: #f7f5fa;
  border-color: #f7f5fa;
}

.page-link:hover {
  color: #495057;
  background-color: #d1c5e2;
  border-color: #d1c5e2;
}

.page-link:focus {
  background-color: #ece7f3;
  border-color: #ece7f3;
}

.list-group-item-action {
  color: #495057;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: #495057;
  background-color: #fcfcfd;
}

.list-group-item-action:active {
  color: #495057;
  background-color: #ece7f3;
}

.list-group-item {
  border-color: #ece7f3;
}

.list-group-item.active {
  color: #fff;
  background-color: #f60;
  border-color: #f60;
}

.popover {
  border-color: #ece7f3;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: #ece7f3;
}

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: #fff;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
  border-right-color: #ece7f3;
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: #fff;
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #ece7f3;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: #fff;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #ece7f3;
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #fff;
}

.modal-header {
  border-bottom-color: #ece7f3;
}

.modal-footer {
  border-top-color: #ece7f3;
}

.dropdown-menu {
  border-color: #ece7f3;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #f7f5fa;
}

.dropdown-item {
  color: #495057;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #212529;
  background-color: #f7f5fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #f60;
}

.dropdown-header {
  color: #212529;
}

.table th,
.table td {
  border-top-color: #ece7f3;
}

.table thead th {
  border-bottom-color: #ece7f3;
}

.table tbody + tbody {
  border-top-color: #ece7f3;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #ece7f3;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfafd;
}

.table-hover tbody tr:hover {
  background-color: #f3f0f7;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: #f3f0f7;
}

.table-hover .table-active:hover {
  background-color: #e5dfef;
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: #e5dfef;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c9b4dd;
}

.table-hover .table-primary:hover {
  background-color: #bca2d5;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #bca2d5;
}

.table .thead-dark th {
  background-color: #CC3300;
  border-color: #CC3300;
}

.table .thead-light th {
  background-color: #ece7f3;
  border-color: #ece7f3;
}

.form-control {
  color: #495057;
  background-color: #fff;
  border-color: #e1daec;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #e67740;
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-control-primary.custom-block .custom-control-input:checked ~ .custom-control-label {
  background-color: #ece7f3;
  border-color: #f60;
}

.custom-control-primary.custom-block .custom-control-input:focus ~ .custom-control-label {
  box-shadow: 0 0 0.75rem rgba(245, 154, 80, 0.25);
}

.custom-control-primary .custom-control-label::before {
  background-color: #ece7f3;
}

.custom-control-primary .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f60;
}

.custom-control-primary .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.custom-control-primary .custom-control-input:active ~ .custom-control-label::before {
  background-color: #aa8aca;
}

.custom-control-primary.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f60;
}

.custom-control-primary.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #f60;
}

.custom-control-primary.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f60;
}

.custom-select {
  border-color: #e1daec;
}

.custom-select:focus {
  border-color: #e67740;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(245, 154, 80, 0.5);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #e67740;
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #e67740;
}

.custom-file-label {
  color: #495057;
  background-color: #fff;
  border-color: #e1daec;
}

.custom-file-label::after {
  color: #495057;
  background-color: #ece7f3;
  border-left-color: #e1daec;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #82b54b;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(245, 154, 80, 0.9);
  border-radius: 0.25rem;
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-color: #82b54b;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #82b54b;
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip, .was-validated
.custom-select:valid ~ .valid-feedback,
.was-validated
.custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control-file:valid ~ .valid-feedback,
.was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
.form-control-file.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #82b54b;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #82b54b;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
  background-color: #c1daa5;
}

.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #9bc46f;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #f4f6fa, 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #82b54b;
}

.was-validated .custom-file-input:valid ~ .custom-file-label::after, .custom-file-input.is-valid ~ .custom-file-label::after {
  border-color: inherit;
}

.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #e04f1a;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(224, 79, 26, 0.9);
  border-radius: 0.25rem;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: #e04f1a;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #e04f1a;
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control-file:invalid ~ .invalid-feedback,
.was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
.form-control-file.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #e04f1a;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #e04f1a;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: #f1a488;
}

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  background-color: #e97044;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #f4f6fa, 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #e04f1a;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label::after, .custom-file-input.is-invalid ~ .custom-file-label::after {
  border-color: inherit;
}

.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.form-control.form-control-alt {
  border-color: #f7f5fa;
  background-color: #f7f5fa;
}

.form-control.form-control-alt:focus {
  border-color: #ece7f3;
  background-color: #ece7f3;
  box-shadow: none;
}

.form-control.form-control-alt.is-valid {
  border-color: #e4efd8;
  background-color: #e4efd8;
}

.form-control.form-control-alt.is-valid:focus {
  border-color: #d7e8c6;
  background-color: #d7e8c6;
}

.form-control.form-control-alt.is-invalid {
  border-color: #fdf1ed;
  background-color: #fdf1ed;
}

.form-control.form-control-alt.is-invalid:focus {
  border-color: #fbe7df;
  background-color: #fbe7df;
}

.input-group-text {
  color: #495057;
  background-color: #f7f5fa;
  border-color: #e1daec;
}

.input-group-text.input-group-text-alt {
  background-color: #ece7f3;
  border-color: #ece7f3;
}

.border {
  border-color: #ece7f3 !important;
}

.border-top {
  border-top-color: #ece7f3 !important;
}

.border-right {
  border-right-color: #ece7f3 !important;
}

.border-bottom {
  border-bottom-color: #ece7f3 !important;
}

.border-left {
  border-left-color: #ece7f3 !important;
}

.border-primary-light {
  border-color: #2a8bf9 !important;
}

.border-primary-lighter {
  border-color: #74b3fb !important;
}

.border-primary-dark {
  border-color: #054d9e !important;
}

.border-primary-darker {
  border-color: #022954 !important;
}

.border-success-light {
  border-color: #bed9a2 !important;
}

.border-info-light {
  border-color: #a5ccf0 !important;
}

.border-warning-light {
  border-color: #ffdb93 !important;
}

.border-danger-light {
  border-color: #f1a184 !important;
}

.border-primary {
  border-color: #0665d0 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #82b54b !important;
}

.border-info {
  border-color: #3c90df !important;
}

.border-warning {
  border-color: #ffb119 !important;
}

.border-danger {
  border-color: #e04f1a !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-primary {
  border-color: #f60 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-white-op {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.border-black-op {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

#page-header {
  background-color: #fff;
}

#sidebar {
  background-color: #fff;
}

#side-overlay {
  background-color: #fff;
}

#page-container.page-header-dark #page-header {
  color: #d6cce6;
  background-color: #f60;
}

#page-container.page-header-glass #page-header {
  background-color: transparent;
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll #page-header {
  background-color: #fff;
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll.page-header-dark #page-header {
  background-color: #f60;
}

#page-container.sidebar-dark #sidebar {
  color: #ece7f3;
  background-color: #39353e;
}

.block {
  box-shadow: 0 2px 6px rgba(236, 231, 243, 0.4);
}

.block-header-default {
  background-color: #fcfcfd;
}

.block.block-bordered {
  border-color: #ece7f3;
}

.block.block-themed > .block-header {
  background-color: #f60;
}

.block.block-mode-loading::after {
  color: #CC3300;
  box-shadow: 0 0 0.75rem 0.75rem rgba(94, 58, 129, 0.05);
}

.block.block-mode-loading.block-mode-hidden::after {
  box-shadow: 0 0 0.5rem 0.5rem rgba(94, 58, 129, 0.05);
}

.block.block-mode-loading.block-mode-loading-dark::after {
  background-color: #CC3300;
}

a.block {
  color: #495057;
}

a.block:hover {
  color: #495057;
}

a.block.block-link-pop:hover {
  box-shadow: 0 0.5rem 2rem #e1daec;
}

a.block.block-link-pop:active {
  box-shadow: 0 0.25rem 0.75rem #f4f2f8;
}

a.block.block-link-shadow:hover {
  box-shadow: 0 0 2.25rem #e1daec;
}

a.block.block-link-shadow:active {
  box-shadow: 0 0 1.125rem #ece7f3;
}

.block.block-fx-shadow {
  box-shadow: 0 0 2.25rem #e1daec;
}

.block.block-fx-pop {
  box-shadow: 0 0.5rem 2rem #e1daec;
}

.btn-block-option {
  color: #f60;
}

.btn-block-option:hover {
  color: #cc6942;
}

a.btn-block-option:focus,
.active > a.btn-block-option,
.show > button.btn-block-option {
  color: #cc6942;
}

.btn-block-option:active {
  color: #c9b4dd;
}

#page-loader {
  background-color: #f60;
}

.nav-main-heading {
  color: #869099;
}

.nav-main-link {
  color: #495057;
}

.nav-main-link .nav-main-link-icon {
  color: #f60;
}

.nav-main-link:hover, .nav-main-link.active {
  color: #000;
  background-color: #ece7f3;
}

.nav-main-submenu {
  background-color: #f7f5fa;
}

.nav-main-submenu .nav-main-link {
  color: rgba(73, 80, 87, 0.75);
}

.nav-main-submenu .nav-main-link:hover, .nav-main-submenu .nav-main-link.active {
  color: #000;
  background-color: transparent;
}

.nav-main-item.open > .nav-main-link-submenu {
  color: #000;
  background-color: #ece7f3;
}

.nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}

.sidebar-dark #sidebar .nav-main-heading {
  color: #b6a3d1;
}

.sidebar-dark #sidebar .nav-main-link {
  color: #ece7f3;
}

.sidebar-dark #sidebar .nav-main-link > .nav-main-link-icon {
  color: #c9b4dd;
}

.sidebar-dark #sidebar .nav-main-link:hover, .sidebar-dark #sidebar .nav-main-link.active {
  color: #fff;
  background-color: #201d23;
}

.sidebar-dark #sidebar .nav-main-submenu {
  background-color: #2c2930;
}

.sidebar-dark #sidebar .nav-main-submenu .nav-main-link {
  color: rgba(236, 231, 243, 0.75);
}

.sidebar-dark #sidebar .nav-main-submenu .nav-main-link:hover, .sidebar-dark #sidebar .nav-main-submenu .nav-main-link.active {
  color: #fff;
  background-color: transparent;
}

.sidebar-dark #sidebar .nav-main-item.open > .nav-main-link-submenu {
  color: #fff;
  background-color: #201d23;
}

.sidebar-dark #sidebar .nav-main-item.open > .nav-main-submenu {
  background-color: #2c2930;
}

.sidebar-dark #sidebar .nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}

.nav-items a {
  border-bottom-color: #f7f5fa;
}

.nav-items a:hover {
  background-color: #fcfcfd;
}

.list-activity > li {
  border-bottom-color: #f7f5fa;
}

.timeline-event-icon {
  box-shadow: 0 0.375rem 1.5rem #e1daec;
}

.ribbon-light .ribbon-box {
  color: #495057;
  background-color: #ece7f3;
}

.ribbon-light.ribbon-bookmark .ribbon-box::before {
  border-color: #ece7f3;
  border-left-color: transparent;
}

.ribbon-light.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #ece7f3;
  border-right-color: transparent;
}

.ribbon-light.ribbon-modern .ribbon-box::before {
  border-color: #ece7f3;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-bottom .ribbon-box::before {
  border-color: #ece7f3;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-left .ribbon-box::before {
  border-color: #ece7f3;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-left.ribbon-bottom .ribbon-box::before {
  border-color: #ece7f3;
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-primary .ribbon-box {
  color: #fff;
  background-color: #f60;
}

.ribbon-primary.ribbon-bookmark .ribbon-box::before {
  border-color: #f60;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #f60;
  border-right-color: transparent;
}

.ribbon-primary.ribbon-modern .ribbon-box::before {
  border-color: #f60;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-bottom .ribbon-box::before {
  border-color: #f60;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-left .ribbon-box::before {
  border-color: #f60;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-left.ribbon-bottom .ribbon-box::before {
  border-color: #f60;
  border-top-color: transparent;
  border-right-color: transparent;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #f60;
  border-color: #f60;
}

.cke_chrome {
  border-color: #ece7f3 !important;
}

.cke_top {
  border-bottom-color: #ece7f3 !important;
  background: #fcfcfd !important;
}

.cke_bottom {
  border-top-color: #ece7f3 !important;
  background: #fcfcfd !important;
}

.dropzone {
  background-color: #fcfcfd;
  border-color: #e1daec;
}

.dropzone .dz-message {
  color: #495057;
}

.dropzone:hover {
  background-color: #fff;
  border-color: #f60;
}

.dropzone:hover .dz-message {
  color: #f60;
}

.fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
  color: #212529;
}

.fc-bootstrap4 .fc-event {
  color: #212529;
}

.fc-bootstrap4 .fc-event:hover {
  color: #495057;
}

.fc-bootstrap4 thead th.fc-day-header {
  background-color: #fcfcfd;
}

.fc-bootstrap4 th,
.fc-bootstrap4 td,
.fc-bootstrap4 thead,
.fc-bootstrap4 tbody,
.fc-bootstrap4 .fc-divider,
.fc-bootstrap4 .fc-row,
.fc-bootstrap4 .fc-content,
.fc-bootstrap4 .fc-popover,
.fc-bootstrap4 .fc-list-view,
.fc-bootstrap4 .fc-list-heading td,
.fc-bootstrap4 .fc-list-table.table {
  border-color: #ece7f3;
}

.fc-bootstrap4 .fc-divider,
.fc-bootstrap4 .fc-list-heading td,
.fc-bootstrap4 .fc-popover .fc-header {
  background: #f7f5fa;
}

.fc-bootstrap4 .fc-today {
  background: #fcfcfd;
}

.irs-line {
  background: #f7f5fa;
}

.irs-bar {
  background: #f60;
}

.irs-bar-edge {
  background: #f60;
}

.irs-from, .irs-to, .irs-single {
  background: #f60;
}

.irs-grid-pol {
  background: #f60;
}

.select2-container--default .select2-selection--single {
  border-color: #e1daec;
}

.select2-container--default .select2-selection--multiple {
  border-color: #e1daec;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #e67740;
  box-shadow: 0 0 0 0.2rem rgba(245, 154, 80, 0.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #f60;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e1daec;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f60;
}

.simplebar-scrollbar::before {
  background: #d78924;
}

.sidebar-dark #sidebar .simplebar-scrollbar::before {
  background: #c9b4dd;
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: #CC3300;
}

.editor-toolbar {
  border-color: #ece7f3;
  background-color: #fcfcfd;
}

.CodeMirror {
  border-color: #ece7f3;
}

.note-editor.note-frame {
  border-color: #ece7f3;
}

.note-editor.note-frame .note-toolbar {
  background-color: #fcfcfd;
  border-bottom-color: #ece7f3;
}

.note-editor.note-frame .note-statusbar {
  border-top-color: #ece7f3;
  background-color: #fcfcfd;
}
